.todoWrapper{
    border-bottom: 1px  solid #efefef;
    text-align: left;
    margin-bottom: 10px;
}
.removeTodo{
    margin-right: 20px;
    margin-bottom: 10px;
    outline: none;
    box-shadow: none;
    border-width: 2px;
    border-radius: 3px;
    border-style: solid;
    color: rgba(203, 20, 32, 0.4);
    border-color: rgba(203, 20, 32, 0.4);
    background-color: transparent;
}